.all{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cal-base{
    width: 700px;
    height: 700px;
    background-color: aliceblue;
    margin-top: 125px;
}

button{
    width: 50px;
}

#numbers{
    display: block;
}