.all{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cal-base{
    width: 800px;
    height: 800px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
   
}
.row{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    
}
.signes, .signe-2, .signe-3, .signe-4{
    height: 600px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content:space-between;
    background-color: rgb(255, 255, 255);
}


 button{
    display: flex;
    height: 120px;
    width: 200px;
       border-radius: 20px;
   font-size: 75px;
 
}

 

input{
    height: 200px;
    width: 100%;
 text-align: end ;
 font-size: 100px;
}