

.vertical-icon-bar {
    background-color: #555;
    width: 4em;
}

.horizontal-icon-bar {
    background-color: #555;
    height: 4em;
    display: flex;
}

.horizontal-icon-bar a,
.vertical-icon-bar a {
    display: block;
    color: white;
    padding: 1em;
}


a:hover {
    background-color: #000;
}

.active {
    background-color: #04aa6d;
}

