body{
    height: 100%;
    margin: 0;
}
.all{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.box{
    width: 800px;
    height: 800px;
    background-color: rgb(236, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
}

#num1{
    width: 300px;
    height: 50px;
}

.notice{
    margin-top: 50px;
}